<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> How it Works</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <h4>
                    FanSelectorNI hosts Daily and Weekly contests across a variety of professional football leagues and tournaments.
                    Each contest will specify the exact parameters (e.g. “Saturday only”, “Whole Match day”). Play when you want one
                    day or one week leagues, no season long commitment which means more options and more winners. Join leagues and
                    draft your teams easily from your phone, tablet or computer. Make last minute edits and replacements or track
                    your lineup's performance wherever you are.
                </h4>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <ol>
                        <li>
                            Register or login

                            <p>
                                It is just a few simple steps to create your own account. There is no charge to set up an account and
                                there are no subscription fees but there is an entry fee to enter a contest.
                            </p>
                        </li>
                        <li>
                            Select a contest

                            <p>
                                Challenge a friend or join an existing league or tournament. Choose amongst different football leagues
                                (e.g. Serie A, English Premier League, etc.) or across leagues. Choose via filtering for entry fee, prize payout,
                                duration (single day, match day, etc.) or number of participants. You can enter as many games and teams as you
                                like to increase your chances of winning.
                            </p>
                        </li>
                        <li>
                            Build a team

                            <p>
                                Once you've chosen your contest you'll need to pick your ultimate fantasy team for that day or week's games. If
                                you’ve ever thought you could do better than the pro coaches here’s your chance to prove it. All you need to do is
                                stay under the salary cap and watch your chosen players destroy the competition. Choose 11 players, from three or
                                more professional teams. Choose wisely, you need to stay under the salary cap!
                            </p>
                        </li>
                        <li>
                            Watch the games!

                            <p>
                                Stats are updated live on the site, so you can see how you are faring against your opponents in real time.
                                Once the games start your players accumulate points based on how they perform. If your team racks up more than your rivals
                                on that day or weekend you’ll instantly take home the winnings. No waiting for the season to end.
                            </p>
                        </li>
                        <li>
                            Collect your winnings

                            <p>
                                If you finish in the top bracket of the prize structure, your winnings will automatically be added to your FanSelectorNI
                                account balance which you can withdraw at your pleasure.
                            </p>
                        </li>
                    </ol>
                    Visit the <a href="#/rules"> Rules </a> to learn more
                </div>
            </div>
        </div>
    </div>
</div>