<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> Rules</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>
                            <h4>Eligibility</h4>

                            <p>
                                You must 18 years of age or over and a resident of Nigeria to make a deposit or play in any FanSelectorNI
                                contests with an entry fee or prize.
                            </p>
                        </li>
                        <li>
                            <h4>Multiple Accounts</h4>

                            <p>
                                As a general rule, each player on FanSelectorNI is only allowed one account.
                            </p>
                        </li>
                        <li>
                            <h4>Suspended Accounts</h4>

                            <p>
                                There are a variety of behaviors that are detrimental to FanSelectorNI and other players on the Service.
                                Engaging in those behaviors may result in suspension of some or all functions associated with your account.
                                Suspended players are expected to respect the disciplinary actions imposed on their accounts and all
                                communication regarding restoration of your account should take place via the support@fanselector.com email account.
                            </p>
                        </li>
                        <li>
                            <h4>User Names</h4>

                            <p>
                                All open contests that are conducted on FanSelectorNI have a prize pool and a number of entrants. Contests labeled as
                                "Guaranteed" will always run and pay out regardless if the contest starts as unfilled. Some structured contests, however,
                                require a specified number of participants. If that number of participants is not reached before the start of the contest,
                                the contest will not take place and your entrance fee will be refunded. For example, a head-to-head challenge cannot take
                                place without two willing competitors and a 20-person league will not be conducted with less than 20 entrants.
                            </p>
                        </li>
                        <li>
                            <h4>Contests</h4>

                            <p>
                                Each contest requires selecting 11 players totaling 100 million naira or less in virtual salary.
                            </p>
                            <p>
                                Formations may include 4-4-2, 4-3-3, 3-5-2 and others.
                            </p>
                            <p>
                                The player pool consists of players that FanSelector has statistics for in that league and determines to be eligible for
                                the matches included in the contest. Any missing players will only be added when FanSelector recognizes the new player.
                            </p>
                            <p>
                                Player salaries will not change once a contest begins, but will fluctuate from contest to contest based on the player's
                                performance and popularity.
                            </p>
                            <p>
                                Rosters of your opponent(s) will be visible immediately after kickoff of the first game in any designated contest.
                            </p>
                            <p>
                                Each contest specifies a date after which entries may not be added, edited, or cancelled.
                            </p>
                            <p>
                                Contest results and winners will be based on the total points scored across each entrant’s 11 player roster
                                (scoring summarized below) during the duration of the contest.
                            </p>
                        </li>
                        <li>
                            <h4>Rosters</h4>

                            <p>
                                Rosters will consist of 11 players and must include players from at least 3 different teams. Further restrictions may
                                be specified within the contest rules.
                            </p>
                            <p>
                                The positions to choose players are limited to: Goalkeeper (GK), Defender (D), Midfielder (MF) and Forward (F).
                                FanSelectorNI makes the exclusive ruling on position eligibility and each player is only eligible at ONE of the four positions listed above.
                            </p>
                            <p>
                                Contest entry will close ten minutes before the start of the first game included in the contest. You can edit your roster as many times
                                as you like before the contest closing time. Once games begin, all players on participating teams will lock and can no longer be edited.
                            </p>
                        </li>
                        <li>
                            <h4>Cancelling your Entry</h4>

                            <p>
                                If a user decides to cancel their entry, they may only do so if a league is open, has not started, and is not "head-to-head". Some contests
                                may specify that cancellations are not allowed. FanSelectorNI has no obligation to honor cancellation requests that are not received, or
                                which are received after these deadlines, due to technical difficulties or other reasons. Also, FanSelectorNI will not accommodate requests
                                to cancel matched H2H entries.
                            </p>
                        </li>
                        <li>
                            <h4>Postponed Games</h4>

                            <p>
                                For postponed games, you will receive points for any postponed games that are played no later than Wednesday of that week. If a game
                                is postponed to a later date or called off for any reason, any players you have selected for that game will receive zero points. If game
                                cancellations and/or postponements mean there is only one game left in a contest, then the contest will be canceled and all entry fees will be
                                refunded. NOTE: A game will be considered to be 'played' on a given day if it begins on that day and is completed no later than 6am GMT on the
                                following day.
                            </p>
                        </li>
                        <li>
                            <h4>Suspended Games</h4>

                            <p>
                                A game is considered suspended if it is unfinished, but to be completed in the future. Any statistics generated on a later date than when the
                                game is completed will not be included due to the one day nature of our contests unless the suspended games are played no later than Wednesday of
                                that week. If a game is suspended and statistics are included that day by FanSelector , those statistics WILL count.
                            </p>
                        </li>
                        <li>
                            <h4>Traded Players</h4>

                            <p>
                                Players being traded may impact contests that have already been created with the players on their old teams. Player team listings on FanSelectorNI
                                are updated once per day (overnight). Note that because contests are created as much as five or six days in advance, traded players may not be
                                available in contests which include a game involving their new team, but not their old team. Also note that in some instances a player you selected
                                may no longer be available in a contest which includes their old team, but not their new team. In that case, you'll need to select a replacement or
                                be credited with zero points for the player.
                            </p>
                            <p>
                                Note that on the day a player is traded, they may still be listed for their old team in the draft screen. If they are traded to another team which
                                is part of the same contest in which you choose them, you will still receive points for their performance. These points may not be reflected accurately
                                during live scoring, but will count at contest settlement time. Also note that contest settlement may be delayed in order to ensure accuracy.
                            </p>
                            <p>
                                Most importantly, please note that in very rare cases a player is traded early enough in the day that they are able to play for their new team. If
                                they are traded from a team with a late game to a team with an early game, you may be able to select them in late contests, already knowing how they
                                performed that day. In this situation, you will receive zero points for their performance.
                            </p>
                        </li>
                        <li>
                            <h4>Lineup Restrictions</h4>

                            <p>
                                In addition to the salary cap, there are two restrictions governing the mix of players allowed in your lineup for FanSelectorNI contests.
                                The first is that you must pick players from at least three different teams. The second is that you may not pick more than four players from the
                                same team. The Service will prevent you from saving a lineup that would violate either of these restrictions.
                            </p>
                        </li>
                        <li>
                            <h4>Withdrawals </h4>

                            <p>
                                You can withdraw your money at any time. For PayPal withdrawals, simply click the Withdraw link on the My Account tab and enter the amount you
                                wish to withdraw, along with a valid PayPal email. PayPal requests will be processed within 48 hours. We also offer cheque withdrawals, which
                                take 7-10 days to process. For cheque withdrawals, Submit a ticket detailing the amount you wish to withdraw and your mailing address. For cheque
                                withdrawals over N5,000 we require a valid mailing address and national identity number in order to file the appropriate tax forms at year end.
                                We also conduct anti-fraud checks on playing patterns and deposits prior to processing a withdrawal. For accounts were deposits were made using a
                                bankcard or bank account, withdrawals will be made to back to such accounts.
                            </p>
                            <p>
                                In cases where a user has received a bonus or other benefits as a result of their deposit and has not yet played through the deposit
                                (entering contests whose total entry fees equal the value of the deposit), FanSelectorNI reserves the right to refuse the withdrawal and/or close
                                the user's account.
                            </p>
                        </li>
                        <li>
                            <h4>Deposits</h4>

                            <p>
                                You may deposit money into your FanSelectorNI account using Paypal or a Visa credit card (other cards such as MasterCard and American Express can
                                be used via Paypal). If you're having any problems depositing money then get in touch and we'll deal with the issue as soon possible.
                            </p>
                        </li>
                        <li>
                            <h4>Contest Settlement and Payment</h4>

                            <p>
                                FanSelectorNI will try to settle contests and run payments as quickly as possible, but must ensure we do so accurately. Most contests are settled
                                shortly after the last game finishes. However, to settle we have to wait until all the player statistics have been reported by
                                our third party stats provider. This lets us ensure that the final box scores are complete. Please note there can sometimes be last minute changes.
                                If there is difficulty obtaining official results or issues with scoring, the contest may be settled the following day.
                            </p>
                        </li>
                        <li>
                            <h4>Scoring Revisions</h4>

                            <p>
                                During the game we receive live scoring from our stats provider. After the game has concluded, FanSelectorNI gets the final stats, which
                                will be used to calculate the results of each contest and settle all entries. However, very rarely, the leagues and stats provider revise the box scores
                                after the final box score has been released. In the event of this occurring the player scores on FanSelectorNI will not be updated and the settlements
                                will not be revised. Note that this is not the same situation as a case where a correction needs to be made after settlement due to a problem with the
                                data feed or the settlement process. In these cases the settlement process (including payment) may be reversed and games resettled correctly.
                            </p>
                        </li>
                        <li>
                            <h4>Service Access and Editing Problems</h4>

                            <p>
                                While we try to ensure that FanSelectorNI is functioning smoothly at all times, like any online service we may periodically experience periods of outage
                                or slow performance. These can sometimes result in an inability to access the Service, problems editing lineups, or problems entering new contests. If
                                you're unable to access the Service, please report the problems by emailing us at support@fanselectorni.com. If there are sustained periods where players
                                are unable to access Service functionality, or otherwise prevented from editing lineups, or in certain other situations, we may provide instructions on
                                how to cancel your entries over email prior to game time.
                            </p>
                        </li>
                        <li>
                            <h4>Cancelling Contests</h4>

                            <p>
                                FanSelectorNI reserves the right to cancel contests at our discretion, without any restrictions. This would typically be done only in cases where we believe
                                there would be a widespread impact on the integrity of contests due to problems on the site or events impacting the sporting events.
                            </p>
                        </li>
                        <li>
                            <h4>Live Scoring</h4>

                            <p>
                                FanSelector will provide live scoring based on their proprietary tracking system. Judgments of all statistics, such as if a pass are completed or a shot
                                is on or off target, is solely the determination of FanSelector. The same rules apply to all our contestants, so there is no inherent advantage or
                                disadvantage. If a scoring error by FanSelector is made after all matches in the contest are declared final and prizes are awarded, corrections will not
                                be reflected nor will prizes be adjusted.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Point Scoring</h3>
                    <p>Players will accumulate points as follows:</p>
                    <p>Goals, shots, saves and any other statistics that occur during a penalty shootout do not count towards a player’s score.</p>
                    <h4>All Positions</h4>
                    <ul>
                        <li>
                            Minute (up to 90): 0.02
                        </li>
                        <li>
                            Yellow Card: -2
                        </li>
                        <li>
                            Red Card: -5
                        </li>
                        <li>
                            Foul Won: .5
                        </li>
                        <li>
                            Foul Committed: -.5
                        </li>
                    </ul>
                    <h4>Forwards</h4>
                    <ul>
                        <li>
                            Goal: 7
                        </li>
                        <li>
                            Assist: 4
                        </li>
                        <li>
                            Shot on Target: 2
                        </li>
                        <li>
                            Pass Completed: 0.03
                        </li>
                        <li>
                            Penalty Kick Missed: -5
                        </li>
                    </ul>
                    <h4>Midfielders</h4>
                    <ul>
                        <li>
                            Goal: 7
                        </li>
                        <li>
                            Assist: 4
                        </li>
                        <li>
                            Shot on Target: 2
                        </li>
                        <li>
                            Pass Completed: 0.05
                        </li>
                        <li>
                            Penalty Kick Missed: -5
                        </li>
                        <li>
                            Clean Sheet (if 45 or more minutes played): 2
                        </li>
                        <li>
                            Single Goal Match (if 45 or more minutes played): 1
                        </li>
                    </ul>
                    <h4>Defender</h4>
                    <ul>
                        <li>
                            Goal: 7
                        </li>
                        <li>
                            Assist: 4
                        </li>
                        <li>
                            Clean Sheet (if 45 or more minutes played): 4
                        </li>
                        <li>
                            Single Goal Match (if 45 or more minutes played): 2
                        </li>
                        <li>
                            Tackle won: 0.5
                        </li>
                        <li>
                            Pass Completed: 0.03
                        </li>
                        <li>
                            Pass Intercepted: 0.25
                        </li>
                        <li>
                            Penalty Kick Missed: -5
                        </li>
                    </ul>
                    <h4>Goalkeeper</h4>
                    <ul>
                        <li>
                            Save: 1
                        </li>
                        <li>
                            Penalty Kick Saved: 7
                        </li>
                        <li>
                            Tackle Won: 1
                        </li>
                        <li>
                            Goal Allowed: -2
                        </li>
                        <li>
                            Clean Sheet (if 45 or more minutes played): 6
                        </li>
                        <li>
                            Single Goal Match (if 45 or more minutes played): 3
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>